<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        h1 {
            color: blue 
        }
    </style>
</head>
<body>
    {%extends 'main.html'%}
    {% block content %}
    <h1>Wassup Man!!</h1>
    {% if sign_in %}
        <h2>It's been long time {{name}}</h2>
    {%else%}
        <h2>I do not know you!!</h2>
    {% endif %}
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus reiciendis suscipit laborum nihil, quod at voluptatibus earum explicabo quas molestias beatae repellendus voluptas in sunt perspiciatis placeat itaque minima!</p>
    
    {% endblock %}
</body>
</html>